# Visual Studio
.vs/
*.user
*.suo

# .NET build output
**/bin/
**/obj/

# User-specific application data
**/appsettings.Local.json
**/appsettings.*.local.json
**/appsettings.Production.json

# Local databases
**/*.db
**/*.db-shm
**/*.db-wal

# Logs
*.log

# Docker
.docker/
